.card {
    position: relative;
    display: inline-block;
    width: 370px;
    height: 454px;
    padding-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #D4D4D4;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
}

.card:last-child {
    height: auto;
}

.card .cart-status {
    position: absolute;
    top: -15px;
    left: -9px;
    width: 64px;
    height: 64px;
    padding-top: 24px;
    border-radius: 50%;
    background-color: #ef5f44;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    opacity: 0;
}

.card .cart-status.in-cart {
    opacity: 1;
}

.card img {
    display: block;
    width: 340px;
    height: 340px;
    margin: 0 auto;
}

.card:last-child:hover  img {
    filter: none;
}


.card:hover img {
    filter: blur(2px);
}

.card .details {
    width: 340px;
    margin: 7px auto 0 auto;
    border-top: 1px solid #D4D4D4;
}

.card .name {
    margin: 9px 0 0 0;
    font-size: 16px;
}

.card .price {
    margin: 0;
}

.card .rating-star {
    display: inline-block;
    fill: #000;
    display: inline-block;
}

.card .rating-star {
    display: inline-block;
    fill: #808080;
    display: inline-block;
}

.card .rating-star.illuminated {
    fill: #000;
}

.card .button {
    padding: 8px 18px;
    border-radius: 5px;
    color: #fff;
    background-color: #6ce796;
    border: none;
    font-size: 15px;
    cursor: pointer;
    outline: inherit;
}

.card .button:hover {
    background-color: #47e17a;
}

.card .cart-button {
    display: none;
    position: absolute;
    top: 169px;
    left: 50%;
    transform: translateX(-50%);
}

.card:hover .cart-button {
    display: inherit;
}

.card .dropzone {
    position: relative;
    margin: 0 auto;
    width: 340px;
    height: 340px;
    background-color: #fafafa;
    border: 2px dashed #eeeeee;
    border-radius: 2px;
}

.card .dropzone input {
    display: none;
}

.card .dropzone input {
    display: none;
}

.card .dropzone.dz-started .dropzone-msg {
    display: none;
}

.card .dropzone.dz-started .dz-preview div:nth-child(n + 2) {
    display: none;
}

.card .dz-remove {
    text-decoration: none;
    color: #000;
    font-size: 10px;
    cursor: pointer;
}

.card .dropzone-msg {
    position: absolute;
    color: #bdbdbd;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.card .fields {
    display: table;
    width: 250px;
    margin: 20px auto 16px auto;
}

.card .fields input {
    height: 24px;
    font-size: 14px;
    border: 1px solid #D4D4D4;
    padding: 2px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.card .fields input[type=text] {
    display: table-cell;
    margin-left: 5px;
    margin-right: 5px;
    width: 234px;
}

.card .fields input[type=number] {
    display: table-cell;
    margin-left: 5px;
    margin-right: 5px;
    width: 112px;
}

.card .action-container {
    padding-bottom: 20px;
}

