<div class="cart-controls" id="<%= dom_id(product) + "_controls" %>">
    <% if in_cart %>
        <div class="cart-status">
            In Cart
        </div>
        <%= button_to "Remove From Cart", remove_from_cart_path(product.id), method: :delete, class: "cart-button" %>
    <% else %>
    <%= button_to "Add To Cart", add_to_cart_path(product.id), method: :post, class: "cart-button" %>
    <% end %>
</div>