

<div id="products">
  <% @products.each do |product| %>
    <%= render :partial => "products/product", :locals => { 
      product: product,
      in_cart: @cart_products.include?(product) 
    } %>
  <% end %>
  <%= render "form", product: Product.new %>
</div>

